* {
    margin: 0;
    padding: 0;
}

@font-face {
    src: url(fonts/advanced_dot_digital-7.ttf);
    font-family: dot;
}

@font-face {
    src: url(fonts/CascadiaCode.ttf);
    font-family: cascadia;
}


h1,
p {
    position: relative;
    color: white;
    text-align: center;
}

h1 {
    padding: 5px;
    border-bottom: 1px solid grey;
    top: 2vh;
    font-family: dot;
    font-size: 3.5vh;
}

p {
    font-family: cascadia;
    color: rgba(211, 211, 211, 0.877);
    top: 3vh;
    font-size: 2vh;
}

#clock {
    position: absolute;
    margin: 0;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}

/* .themeButton {} */